body {
    background-color: pink;
    margin-left: 20px;
    text-align: center;
}

#logo {
    background-color: #ff9999;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 1150px;
}

p {
    color: green;
}

#delete {
    color: red;
}

a:visited {
    color: green;
}

td {
    text-align: left;
}

a:hover {
    background-color: magenta;
}

tr {
    border: 10px solid magenta;
}
