body {
    background-color: pink;
    margin-left: 100px;
}

#logo {
    background-color: #ff9999;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 1150px;
}

#delete {
    color: red;
}

#question {
    padding-left: 150px;
    padding-top: 110px;
    font-size: 16px;
}
h1 {
    margin-bottom: -150px;
    text-align: center;
    font-size: 40px;

}

#data {
    text-align: right;
    padding-right: 200px;

}

a:hover {
    background-color: #ff9999;
}