body {
    font-family: 'Mali', cursive;
    background-color: pink;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 10em;
}

#page_logo {
    border-radius: 3px;
    background-color: #ff9999;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, .9);
}

#delete {
    color: red;
}

a:link{
    text-decoration: none;
}

a:hover {
    background-color: #ff9999;
    border-radius: 6px;
}

table {
    margin: auto;
    width: calc(100%);
}

tr {
    background-color: #ff9999;
}

td {
    padding: 1em;
    border-radius: 2px;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, .9);
}

#search_bar {
    margin-right: 20em;
}

input {
    padding: 0.3em;
    border-radius: 5px;
}

textarea {
    padding: 0.3em;
    border-radius: 5px;
}

#ordering {
    margin-left: calc(100% - 21em);
}

#header {
    margin-left: calc(100% - 6em);
}

.card {
    padding: 0.5em;

}

button {
    border-radius: 5px;
    width: auto;
    background-color: #ff9999;
    border: black;
    color: indigo;
    padding: 0.3em;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, .9);
}

select {
    border-radius: 5px;
    background-color: #ff9999;
    border: black;
    color: indigo;
    padding: 0.2em;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, .9);
}

h2 {
    color: #ff9999;
    border-color: magenta;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, .9);
}

#show_all_questions {
    margin-left: calc(100% - 99%);
    float: left;
}

#show_users {
    margin-right: calc(100% - 99%);
    float: right;
}