{% extends "layout.html" %}

{% block title %}
    {{ "Update Question" if question_id else "Add Question" }}
{% endblock %}

{% block content %}
    {% if session['user_id'] == update_question_row['user_id'] %}
        <form action={{ "/edit/" + question_id if question_id else "/add-question" }} method="post">
            {% if question_id %}
                <i>Update Question</i>
                <p>Time: {{ update_question_row['submission_time'] }}</p>
                <p>View Number: {{ update_question_row['view_number'] }}</p>
                <p>Vote Number: {{ update_question_row['vote_number'] }}</p>
            {% endif %}
            <p>
                Question:<br>
                <input id="question-input" name="title" required maxlength="30" size="50" value="{{ update_question_row['title'] }}">
            </p>
            <p>
                Details:<br>
                <textarea id="details-input" name="message" rows="10" cols="50">{{ update_question_row['message'] }}</textarea>
            </p>
            <p>
                Image URL:<br>
                <input id="image-input" name="image" type="url" value="{{ update_question_row['image'] }}">
            </p>
            <p>
                <button type="submit">Update Question
                </button>
            </p>
        </form>
    {% else %}
    <h1>Sorry, you can't do that :/ </h1><br>
    <h2>Please Login if you want to edit or add new question!</h2>
    {% endif %}
{% endblock %}