<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
    <link rel="stylesheet" type="text/css" href="static/liststyle.css">
</head>
<body>
    <h1><i><a href="/"><h1>AskMate</a></i></h1>
    <form action="/add-question" method="post">
        <p>Add Question</p>
        <p>
            Question:<br>
            <input id="question-input" name="title" required>
        </p>
        <p>
            Details:<br>
            <textarea id="details-input" name="message" rows="5" cols="30"></textarea>
        </p>
        <p>
            Image URL:<br>
            <input id = "image-url" name="image" type="url">
        </p>
        <p>
            <button type="submit">
                Add Question
            </button>
        </p>
    </form>
</body>
</html>