<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Question</title>
        <link rel="icon" type="image/ico" href="static/only_logo.png" />
        <link rel="stylesheet" type="text/css" href="/static/liststyle.css">
    </head>
    <body>
        <a id="logo" href="/"><img src="/static/logo.png"></a>
        <form action="/add-question" method="post">
            <p>Add Question</p>
            <p>
                Question:<br>
                <input id="question-input" name="title" required>
            </p>
            <p>
                Details:<br>
                <textarea id="details-input" name="message" rows="5" cols="30"></textarea>
            </p>
            <p>
                Image URL:<br>
                <input id = "image-url" name="image" type="url">
            </p>
            <p>
                <button type="submit">
                    Add Question
                </button>
            </p>
        </form>
    </body>
</html>