{% extends "layout.html" %}

{% block title %}
    Add Answer
{% endblock %}

{% block content %}
    <form action="/question/{{ question_id }}/new-answer" method="post">
        <p>Answer:<br>
        <textarea rows="5" cols="30" name="answer" required></textarea>
        </p>
        <p>
            Image URL:<br>
            <input id = "image-url" name="image" type="url">
        </p>
        <p>
            <button type="submit">Add Answer!
            </button>
        </p>
    </form>
{% endblock %}

