<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Answer</title>
        <link rel="icon" type="image/ico" href="static/only_logo.png" />
        <link rel="stylesheet" type="text/css" href="/static/liststyle.css">
    </head>
    <body>
        <a id="logo" href="/"><img src="/static/logo.png"></a>
        <form action="/question/{{ question_id }}/new-answer" method="post">
            <p>Answer:<br>
            <textarea rows="5" cols="30" name="answer" required minlength="10"></textarea>
            </p>
            <p>
                Image URL:<br>
                <input id = "image-url" name="image" type="url">
            </p>
            <p>
                <button type="submit">Add Answer!
                </button>
            </p>
        </form>
    </body>
</html>