<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Question</title>
    <link rel="icon" type="image/ico" href="static/only_logo.png" />
    <link rel="stylesheet" type="text/css" href="/static/liststyle.css">
</head>
<body>
    <a id="logo" href="/"><img src="/static/logo.png"></a>
    <form action="/edit/{{ question_id }}" method="post">
        <i>Update Question</i>
        <p>Time: {{ update_question_row['submission_time'] }}</p>
        <p>View Number: {{ update_question_row['view_number'] }}</p>
        <p>Vote Number: {{ update_question_row['vote_number'] }}</p>
        <p>
            Question:<br>
            <input id="question-input" name="title" required maxlength="30" size="50" value="{{ update_question_row['title'] }}">
        </p>
        <p>
            Details:<br>
            <textarea id="details-input" name="message" rows="10" cols="50">{{ update_question_row['message'] }}</textarea>
        </p>
        <p>
            Image URL:<br>
            <input id="image-input" name="image" type="url" value="{{ update_question_row['image'] }}">
        </p>
        <p>
            <button type="submit">
                Update Question
            </button>
        </p>
    </form>
</body>
</html>