<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate</title>
        <link rel="stylesheet" type="text/css" href="/static/liststyle.css">
    </head>
    <body>
        <a id="logo" href="/"><img src="/static/logo.png"></a>
        <p><a href="/add-question"><h3>Ask new question</h3>    </a></p>
            <table align="center">
                <b><p>Questions</p></b>
                <tbody>
                    <tr align="right">
                    <form action="/list" method="get">
                        <select name="order_by">
                            <option value="">-Order by:</option>
                            <option value="submission_time">Date</option>
                            <option value="view_number">View Numbers</option>
                            <option value="vote_number">Votes</option>
                            <option value="title">Question Name</option>
                        </select>
                        <select name="order_in">
                            <option value="">-Order in:</option>
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Descending</option>
                        </select>
                        <button type="submit">Sort it mate!</button>
                    </form>
                    </tr>
                    {% for question in every_question %}
                        <tr>
                            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                            <td><a id="delete" href="/delete_question/{{ question['id'] }}">Delete Question</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% if show %}
                <a href="/list">SHOW ALL QUESTIONS</a>
            {% endif %}
    </body>
</html>