<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate</title>
    </head>
    <body>
        <h1><i>AskMate</i></h1>
        <p><a href="/add-question"><h3>Ask new question</h3>    </a></p>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <p><th>Questions</th></p>
                    </tr>
                </thead>
                <tbody>
                <form>
                    <div></div>
                </form>
                    {% for question in every_questions[::1] %}
                        <tr>
                            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

    </body>
</html>