{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}

{% block content %}
    <h1>{{ question['title'] }}</h1><br>
        <div id="question">
            <div id="data">
                Views: {{ question['view_number'] }}<br>
                Votes: {{ question['vote_number'] }}<br>
                {% if session %}
                    <p><button><a href="/question/{{question['id']}}/vote-up">Vote up</a></button></p>
                    <p><button><a href="/question/{{question['id']}}/vote-down">Vote down</a></button></p>
                    {% if session['user_id'] == question['user_id'] %}
                        <a id="update" href="/edit/{{ question['id'] }}">Update this question</a><br>
                        <a class="delete" href="/delete_question/{{ question['id'] }}">Delete Question</a>
                    {% endif %}
                {% endif %}
            </div>
            <h2>Question:</h2><br>
            <div class="card">
                    {{ question['message'] }}
                <p>
                     {%if question['image'] %}
                        <h2>Image:</h2><br>
                        <img src="{{ question['image'] }}" height="200" width="300">
                    {% endif %}
                </p>
            </div>

            <p>
                <h2>Answers:</h2>
                <h3><a href="/question/{{ question['id'] }}/new-answer">Add new answer</a></h3><br>
                {% if answers['message'] != '' %}
                    <table>
                        <tbody>
                            {% for row in answers %}
                                <tr><td>{{ row['message'] }}</td>
                                    {%if row['image'] %}
                                        <td><img src="{{ row['image'] }}" height="200" width="300"></td>
                                    {% endif %}
                                        {% if session['user_id'] == row['user_id'] %}
                                            <td>
                                                <a href="/answer/{{ row['id'] }}/edit">Edit answer</a><br>
                                                <a class="delete" href="/delete_answer/{{ row['id'] }}">Delete answer</a><br>
                                                <a href="/answer/{{ row['id'] }}/new-comment">Comment</a>
                                            </td>
                                        {% endif %}
                                </tr>
                                {% for comment in comments_to_answer %}
                                    <tr><td>
                                    {% if row['id'] == comment['answer_id'] %}
                                            <ul>
                                                <li>{{ comment['message'] }}</li>
                                            </ul>
                                    {% endif %}
                                    </td></tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </p>
        </div>
{% endblock %}