<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Answer</title>
    <link rel="stylesheet" type="text/css" href="static/liststyle.css">
</head>
<body>
    <a href="/"><img src="/static/logo.png"></a>
    <form action="/answer/{{ answer_id }}/edit" method="post">
        <p>Answer:<br>
        <textarea rows="5" cols="30" name="answer" required minlength="10">{{ answer_row['message'] }}</textarea>
        </p>
        <p>
            Image URL:<br>
            <input id = "image-url" name="image" type="url" value="{{ answer_row['image'] }}">
        </p>
        <p>
            <button type="submit">Add Answer!
            </button>
</body>
</html>